VITE_BACKEND_BASE_URL=http://127.0.0.1:8000
VITE_PUSHUP_WS_URL=ws://127.0.0.1:8000/ws/live/pushup
VITE_SQUAT_WS_URL=ws://127.0.0.1:8000/ws/live/squat
VITE_CURL_WS_URL=ws://127.0.0.1:8000/ws/live/curl
VITE_SHOULDER_PRESS_WS_URL=ws://127.0.0.1:8000/ws/live/shoulder-press
VITE_DEVICE_IP=192.168.88.16
